<html>

<head>
    <title>TP-RdC</title>
    <!--<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">-->
    <link rel="shortcut icon" href="{{ url_for('static', filename='fav.ico') }}">
</head>

<body>
    <div id="container">
        <div class="title">
            <h1 align="center">REDES DE COMPUTADORAS</h1>
            <h2 align="center">Trabajo Practico 5 - WebServer con Flask</h2>
        </div>
        <div id="content">
            <hr>
            <h3> Modos de uso:</h3>
            <ul>
                <li>Metodo <b>GET</b>: <code>http://host:port/alumnos</code>
                </li>
                <li>Metodo <b>POST</b>: <code>http://host:port/alumnos</code>
                </li>
                <li>Metodo <b>DELETE</b>: <code>http://host:port/alumnos/id</code>
                </li>
            </ul>
        </div>
        <hr>
    </div>
    <br>
    <p align="center">
        <font size="5" color="red">{{mensaje}}</font>
    </p>
</body>

</html>